body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  background-color: #222;
  color: #eee;
  margin: 0;
}
div#wrapper {
  text-align: center;
}
div.entry {
  float: left;
  padding: 10px 5px;
  width: 320px;
  border: 1px dashed #222;
}
div.entry.new {
  border-color: #555;
}
div.synopsis {
  margin-top: 3px;
  height: 30px;
}
a.icon.black {
  border: 2px solid black;
  background-color: #000;
}
#online a.icon {
  float: right;
  margin-right: 5px;
}
#online {
  display: table;
  margin: 0 auto;
}
#offline {
  width: 900px;
  margin: 0 auto 35px auto;
}
#second {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
  padding-top: 3px;
  border-top: 1px solid #004;
  background-color: #000;
}
#second .online {
  margin-right: 20px;
}
h1 {
  margin-bottom: 0;
}
h2 {
  padding-top: 25px;
  margin-bottom: 5px;
  clear: both;
}
h3 {
  margin: 2px;
  font-size: 18px;
}
a {
  text-decoration: none;
  color: #eee;
  font-weight: bold;
}
a img {
  border: none;
}
pre {
  display: inline;
}
#offline > .entry.new:before, #latest.new > .date:before {
  content: 'NEW';
  border: 1px solid #00d;
  background-color: #55d;
  font-size: 50%;
  padding: 1px;
  margin-right: 3px;
  vertical-align: 2px;
}
#offline > .entry:after {
  content: ' : ';
}
#offline > .entry:last-child:after {
  content: '';
}
#refresh {
  position: fixed;
  bottom: 0;
  right: 0;
  font-weight: bold;
}
a.icon {
  display: inline-block;
  background-image: url(icons.png);
  width: 16px;
  height: 16px;
}
#toggle {
  position: absolute;
  top: 3px;
  right: 5px;
  font-size: 20px;
}
a.toggle{ background-position: 0 0; }
a.popout{ background-position: -17px 0; }
a.updates.disable{ background-position: -34px 0; }
a.updates{ background-position: -51px 0; }

#online .alternate object, #online.hidden object, #status img, #status, #timer.hidden, #no1here.hidden, #offline .hidden { display: none }
a.trk { display: none !important }
#online.hidden .alternate object, #status.active { display: block }
#status img.active { display: inline }

#no1here { text-align: center }

#about, #debug {
  position: fixed;
  bottom: 0;
  font-size: 11px;
  background-color: #FFEECC;
  padding: 0 10px;
}
#debug.error { background-color: #FFAAAA; }
#about {
  left: 0;
  border-top-right-radius: 8px;
  -moz-border-topright-radius: 8px;
  -khtml-border-top-right-radius: 8px;
  -webkit-border-top-right-radius: 8px;
}
#about, #about a, #debug, #debug a {
  color: black;
}
#about h1, #debug h1 {
  font-size: 12px;
  text-align: right;
  margin-bottom: 5px;
}
#about .full, #debug .full {
  display: none;
  width: 620px;
  text-align: justify;
}
#debug .full {
  width: 450px;
}
#about:hover .full, #debug:hover .full {
  display: block;
}
#debug {
  right: 0;
  border-top-left-radius: 8px;
  -moz-border-topleft-radius: 8px;
  -khtml-border-top-left-radius: 8px;
  -webkit-border-top-left-radius: 8px;
}
#debug h1, #debug .full { text-align: left }
#debug .full {
  overflow: auto;
  max-height: 700px;
}
#debug .full p {
  margin: 5px 0;
  padding: 2px;
  border-radius: 2px;  
  -moz-border-radius: 2px;
  -khtml-border-radius: 2px;
  -webkit-border-radius: 2px;
}
#debug .full .e1024 { background-color: skyblue }
#debug .full .e512 { background-color: #FF6666 }

h1 { margin-bottom: 10px; }

fieldset {
  padding: 0;
  border: 0;
  margin-bottom: 10px;
}
fieldset p { padding: 2px; margin: 2px; display: inline; }
fieldset p.question { display: block; }
fieldset p input { display: inline; }
fieldset p br { display: none; }

#latest {
  background-color: #555;
  border-width: 0 2px 2px 0;
  border-style: solid;
  border-color: #444;
  display: inline-block;
  padding: 6px 8px;
  max-width: 95%;
  text-align: left;
}
#latest a { font-weight: normal }
#latest a.important { font-weight: bold }