{% extends "base.html" %}

{% block title %}Artes{% endblock %}
{% block content %}
<table>
{% for arte in Artes %}
	<tr id="arte{{ arte.gameId }}">
	<td style="text-align: right;">
		{% if arte.character > 0 and arte.character <= 9 %}
			{{ CharIcons[arte.character - 1]|raw }}
		{% endif %}
		{% if arte.character > 9 %}
			<a href="?section=enemy&id={{ arte.character }}"><img src="monster-icons/48px/monster-{{ "%03d"|format(arte.enemyIcon) }}.png" width="32" height="32" title="{{ arte.enemyName }}"></a>
		{% endif %}
	</td>
	<td>
		{% if arte.type in ArteIconIds|keys %}
			<img src="menu-icons/artes-{{ ArteIconIds[arte.type] }}.png" width="32" height="32">
		{% endif %}
	</td>
	<td><span class="itemname">{{ arte.name[0]|raw }}</span><br />{{ arte.desc[0]|raw }}</td>
	<td><span class="itemname">{{ arte.name[1]|raw }}</span><br />{{ arte.desc[1]|raw }}</td>
	<td>
		{% if arte.character <= 9 and arte.fatalStrikeType <= 2 %}
			<img src="menu-icons/artes-{% if arte.fatalStrikeType == 0 %}13{% endif %}{% if arte.fatalStrikeType == 1 %}15{% endif %}{% if arte.fatalStrikeType == 2 %}14{% endif %}.png" width="16" height="16">
		{% endif %}
		{% if arte.fire > 0 %}<img src="text-icons/icon-element-02.png" width="16" height="16">{% endif %}
		{% if arte.earth > 0 %}<img src="text-icons/icon-element-04.png" width="16" height="16">{% endif %}
		{% if arte.wind > 0 %}<img src="text-icons/icon-element-01.png" width="16" height="16">{% endif %}
		{% if arte.water > 0 %}<img src="text-icons/icon-element-05.png" width="16" height="16">{% endif %}
		{% if arte.light > 0 %}<img src="text-icons/icon-element-03.png" width="16" height="16">{% endif %}
		{% if arte.dark > 0 %}<img src="text-icons/icon-element-06.png" width="16" height="16">{% endif %}
		{# if icons inserted <br> #}
		
		<ul>
			{% if arte.tpUsage > 0 %}<li>TP usage: {{ arte.tpUsage }}</li>{% endif %}
			
			{% for req in arte.learnReqs %}
				{% if req.type == 1 %}
					<li>Level {{ req.value }}</li>
				{% endif %}
				{% if req.type == 2 %}
					<li>
					{% if arte.gameId != req.value %}
						<img src="menu-icons/artes-{# other icon #}.png" width="16" height="16"><a href="{# other id #}">arte</a>, 
					{% else %}
						Learn with 
					{% endif %}
					{{ req.useCount }} uses</li>
				{% endif %}
			{% endfor %}
			{% for req in arte.alteredReqs %}
				<li>
				{% if req.type == 1 %}
					{# var otherArte = arteIdDict[AlteredArteRequirementId[i]]; #}
					Alters from <img src="menu-icons/artes-{# other icon #}.png" width="16" height="16"><a href="{# other id #}">arte</a>
				{% endif %}
				{% if req.type == 3 %}
					{# var skill = skills.SkillIdDict[AlteredArteRequirementId[i]]; #}
					<img src="skill-icons/category-{# skill icon #}.png" width="16" height="16"><a href="{# skill id #}">skill</a>
				{% endif %}
				</li>
			{% endfor %}
			
			{% if arte.usableInMenu > 0 %}<li>Usable outside of battle.</li>{% endif %}
		</ul>
		</td>
	</tr>
	<tr><td colspan="5"><hr></td></tr>
{% endfor %}
</table>
{% endblock %}